
target/
dbt_packages/
dbt_modules/
logs/
**/.DS_Store
.user.yml
venv/
env/
**/*.duckdb
**/*.duckdb.wal
.mypy_cache
log/
result.json
.env
cdk.out
.ruff_cache

external/orders.csv
external/orders_delim.csv
external/orders.parquet
external/python.parquet
external/python.csv